body {
   font-family: 'Poppins', sans-serif;
   color: white;
   background-color: #FF7A7A;
   padding: 5% 10%;
   text-align: center;
   background-image: url(image/bg-intro-desktop.png);
   background-image: transparent;
}

span {
   color: #B9B6D3;
}

.width h1 {
   width: 90%;
   margin-bottom: 1.2rem;
   Font-weight: bold;
}

.width {
   width: 45%;
   text-align: left;
   padding-top: 14%;
   margin: 0 auto;
}

.form {
   background-color: white;
   border-radius: 0.5rem;
   padding: 3rem 2.5rem 3rem;
}

input::placeholder {
   font-size: 0.9rem;
   font-weight: bold;
}

label {
   display: block;
   margin-top: 1em;
}

.button {
   background-color: #38CC8C;
   font-size: 0.9rem;
   font-weight: 500;
   border-radius: 0.3rem;
   padding: 0.9rem 0 0.9rem 1.5rem;
   width: 100%;
   border: none;
   color: #fff;
}

.button:hover {
   background-color: #1cab6d;
}

.button:active {
   background-color: #178455;
}

.button1 {
   background-color: #5959bd;
   margin-bottom: 2rem;
   color: #fff;
}

.button1:hover {
   background-color: #4848a7;
}

.button1:active {
   background-color: #383898;
}

.br {
   font-size: 0.9rem;
   font-weight: bold;
   border-radius: 0.3rem;
   padding: 0.9rem 0 0.9rem 1.5rem;
}

.span2 {
   color: #FF7A7A;
   font-weight: bold;
}

.para {
   font-size: 0.8rem;
   font-weight: 500;
   color: #B9B6D3;
   margin-top: 0.8rem;
}

.second-col {
   margin-left: 2rem;
}

.adjust {
   margin: 0 auto;
}

.sh {
   box-shadow:
      6px 19px 5px -12px rgb(201, 83, 83, 1);
}

.left {
   text-align: right;
}

@media (max-width: 27rem) {

   body {
      padding: 2rem 0 0 0;
      margin: 7% 7% 30% ;
      text-align: center;
   }
   .button1 {

      font-size: 0.9rem;
      font-weight: bold;
      color: #fff;
      border-radius: 0.5rem;
      padding: 1.5rem 5rem;
      width: 100%;
      border: none;
      margin-top:4rem;
      text-align: center
   }
   .width {
      width: 90%;
      text-align: center;
   }
   .width h1{
     margin:0 auto 1rem;
   }
   .second-col {
      margin: 0;

   }

}
